body {
  margin: 0;
  line-height: normal;
}
.hire-me-span2 {
  text-decoration: underline;
}
.hire-me-a2 {
  color: inherit;
}
.hire-me-work-20222 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lol-su4n-company2 {
  margin: 0;
}
.hire-me-work-2022-all-rig2 {
  position: absolute;
  top: 80px;
  left: 0;
  font-size: 32px;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
}
.discord-div1,
.twitter-a1 {
  position: absolute;
  top: 0;
  display: inline-block;
}
.twitter-a1 {
  left: 183px;
  text-decoration: underline;
  color: inherit;
}
.discord-div1 {
  left: 0;
  cursor: pointer;
}
.group-div2,
.rectangle-div1 {
  position: absolute;
  top: 830px;
  left: 105px;
  width: 949px;
  height: 208px;
}
.rectangle-div1 {
  top: 0;
  left: 769px;
  border-radius: 45px;
  background-color: #3183ff;
  box-shadow: 0 31px 67px rgba(0, 0, 0, 0.25);
  width: 637px;
  height: 324px;
}
.challo-div,
.profileplus-div {
  position: absolute;
  top: 362px;
  left: 236px;
  display: inline-block;
}
.profileplus-div {
  left: 937px;
}
.group-icon {
  position: absolute;
  top: -36px;
  left: -67px;
  width: 771px;
  height: 458px;
}
.profile-div {
  position: absolute;
  top: 114px;
  left: 927px;
  font-size: 96px;
  font-family: BM HANNA_TTF;
  display: inline-block;
}
.group-div3 {
  position: absolute;
  top: 208px;
  left: 257px;
  width: 1406px;
  height: 491px;
  font-size: 64px;
}
.imac-3 {
  position: relative;
  background-color: #06f;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Baloo Bhaina 2;
}
