body {
  margin: 0;
  line-height: normal;
}
.hold-up-before-u-join,
.u-gotta-agree-to-some-rules-bo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 96px;
  display: inline-block;
}
.u-gotta-agree-to-some-rules-bo {
  top: 136px;
  left: 1px;
  font-size: 48px;
}
.hire-me-span1 {
  text-decoration: underline;
}
.hire-me-a1 {
  color: inherit;
}
.hire-me-work-20221 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lol-su4n-company1 {
  margin: 0;
}
.hire-me-work-2022-all-rig1 {
  position: absolute;
  top: 867px;
  left: 0;
  font-size: 24px;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
}
.just-dont-be-a-fucking-annoyi {
  position: absolute;
  top: 226px;
  left: 0;
  display: inline-block;
}
.agree-to-discords-tos,
.just-follow-the-main-rules-n {
  position: absolute;
  top: 333px;
  left: 0;
  display: inline-block;
}
.just-follow-the-main-rules-n {
  top: 443px;
}
.group-div1 {
  position: absolute;
  top: 78px;
  left: 105px;
  width: 1002px;
  height: 963px;
  font-size: 64px;
}
.rectangle-div {
  position: absolute;
  top: 688px;
  left: 106px;
  border-radius: 21px;
  background-color: #589bff;
  width: 240px;
  height: 84px;
}
.fukdatshi-div,
.oki-join-a {
  position: absolute;
  display: inline-block;
}
.oki-join-a {
  top: 695px;
  left: 158px;
  text-decoration: underline;
  color: inherit;
  width: 135px;
  height: 63px;
}
.fukdatshi-div {
  top: 692px;
  left: 386px;
  cursor: pointer;
}
.imac-2 {
  position: relative;
  background-color: #06f;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Baloo Bhaina 2;
}
